.root-create-class-work {
    width: 70%;
    margin: 0 auto;
}
.class-work-info {
    margin: 0 auto;
    padding: 25px;
    border: 0.0625rem solid #dadce0;
    border-radius: 0.5rem;
}
.class-work-info p {
    color: #202124;
    padding-bottom: 0.5rem;
    font-family: 'Noto Sans JP',Roboto,Arial,sans-serif;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.75rem;
    color: #3c4043;
}
.class-work-info-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.class-work-info-list-item {
    margin: 10px 0;
    font-size: 20px;
}
.my-custom-modal {
    width: 100vw!important;
    height: auto;
    min-height: 100vh!important;
}
.my-modal-dialog {
    margin: 0px!important;
}
.quiz-left-container {
    width: 75%;
    margin: 10px;
}
.quiz-right-container {
    width: 25%;
}
.quiz-input-container {
    border: 1px solid #ddd;
}
#quiz input {
    vertical-align: middle;
}
#quiz {
    font-size: 14px; 
     /* Georgia, serif; */
}
#quiz ol {
   margin: 0 0 10px 20px;
}
#quiz ol li {
   margin: 0 0 20px 0;
}
#quiz ol li div {
   padding: 4px 0;
}
#quiz h3 {
   font-size: 17px; margin: 0 0 1px 0; color: #666;
}
.close {
    margin-right: 20px!important;
}

.toggle {
	position: relative;
	display: block;
	width: 40px;
	height: 20px;
  margin-left: 5px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transform: translate3d(0, 0, 0);
}

.toggle:before {
	content: "";
	position: relative;
	top: 3px;
	left: 3px;
	width: 34px;
	height: 14px;
	display: block;
	background: #9A9999;
	border-radius: 8px;
	transition: background .2s ease;
}

.toggle span {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	display: block;
	background: white;
	border-radius: 10px;
	box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
	transition: all .2s ease;
}

.toggle span:before {
	content: "";
	position: absolute;
	display: block;
	margin: -18px;
	width: 56px;
	height: 56px;
	background: rgba(79, 46, 220, 0.5);
	border-radius: 50%;
	transform: scale(0);
	opacity: 1;
	pointer-events: none;
}

#acceptingQuiz:checked + .toggle:before {
	background: #947ADA;
}

#acceptingQuiz:checked + .toggle span {
	background: #4F2EDC;
	transform: translateX(20px);
	transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
	box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

#acceptingQuiz:checked + .toggle span:before {
	transform: scale(1);
	opacity: 0;
	transition: all .4s ease;
}

.center {
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 20px);
}