.class-root {
    width: 100%;
    position: relative;
    height: 300px;
    border-color: #DADCE0!important;
}
.class-upper {
    background: url("https://gstatic.com/classroom/themes/img_bookclub.jpg");
    background-size: cover;
    padding: 10px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}
.class-upper:hover .class-title {
    text-decoration: underline;
    color: white;
}
.class-upper:hover .class-teacher {
    color: white;
}
.class-dropdown {
    position: absolute!important;
    top: -9px!important;
    right: -4px!important;
    color: white!important;
    margin: 10px!important;
    font-size: 22px!important;
}
.dropdown button {
    background-color: initial!important;
    border: none!important;
    opacity: 1;
}
.menu-icon {
    color: white;
    font-size: 22px;
}
.teacher-image {
    width: 100%;
    height: 119px;
}
.teacher-image img {
    border-radius: 50%;
    float: right;
    height: 4.6875rem;
    position: relative;
    margin-top: -2.09375rem;
    margin-right: 10px;
    width: 4.6875rem;
}
.class-icons {
    /* color: white; */
    display: flex;
    font-size: 22px;
    justify-content: flex-end;
    padding-top: 41px;
    border-top: 1px solid #DADCE0;
}
.class-icons .icon {
    margin-right: 25px;
}