/* @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css); */
@import url("https://fonts.googleapis.com/css?family=Roboto");
.assignment-content-root {
	background-color: #F0EBF8;
}
.assignment-content {
    width: 90%;
    margin: 20px auto;
}
.assignment-file-div {
    /* background-color: #fff;
    border: 1px solid #1FAA59;
    border-radius: 5px; */
	width: 600px!important;
    padding: 20px;
	margin: 0px auto;
	margin-top: 10px;
    /* color: white; */
}
/* .assignment-file-div h4 a {
    color: #120E43;
} */

.assignment-uploader {
	display: block;
	clear: both;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
}

.assignment-uploader label {
	float: left;
	clear: both;
	width: 100%;
	padding: 2rem 1.5rem;
	text-align: center;
	background: #fff;
	border-radius: 7px;
	border: 3px solid #eee;
	transition: all .2s ease;
	user-select: none;
}

.assignment-uploader label:hover {
	border-color: #454cad;
}

.assignment-uploader label.hover {
	border: 3px solid #454cad;
	box-shadow: inset 0 0 0 6px #eee;
}

.assignment-uploader label.hover #assignment-start i.fa {
	transform: scale(0.8);
	opacity: 0.3;
}

.assignment-uploader #assignment-start {
	float: left;
	clear: both;
	width: 100%;
}

.assignment-uploader #assignment-start.assignment-hidden {
	display: none;
}

.assignment-uploader #assignment-start i.fa {
	font-size: 50px;
	margin-bottom: 1rem;
	transition: all .2s ease-in-out;
}

.assignment-uploader #assignment-response {
	float: left;
	clear: both;
	width: 100%;
}

.assignment-uploader #assignment-response.assignment-hidden {
	display: none;
}

.assignment-uploader #assignment-response #assignment-messages {
	margin-bottom: .5rem;
}

.assignment-uploader #assignment-file-image {
	display: inline;
	margin: 0 auto .5rem auto;
	width: auto;
	height: auto;
	max-width: 180px;
}

.assignment-uploader #assignment-file-image.assignment-hidden {
	display: none;
}

.assignment-uploader #assignment-notimage {
	display: block;
	float: left;
	clear: both;
	width: 100%;
}

.assignment-uploader #assignment-notimage.assignment-hidden {
	display: none;
}

.assignment-uploader progress,
  .assignment-uploader .assignment-progress {
	display: inline;
	clear: both;
	margin: 0 auto;
	width: 100%;
	max-width: 180px;
	height: 8px;
	border: 0;
	border-radius: 4px;
	background-color: #eee;
	overflow: hidden;
}

.assignment-uploader .assignment-progress[value]::-webkit-progress-bar {
	border-radius: 4px;
	background-color: #eee;
}

.assignment-uploader .assignment-progress[value]::-webkit-progress-value {
	background: linear-gradient(to right, #393f90 0%, #454cad 50%);
	border-radius: 4px;
}

.assignment-uploader .assignment-progress[value]::-moz-progress-bar {
	background: linear-gradient(to right, #393f90 0%, #454cad 50%);
	border-radius: 4px;
}

.assignment-uploader input[type="file"] {
	display: none;
}

.assignment-uploader div {
	margin: 0 0 .5rem 0;
	color: #5f6982;
}

.assignment-uploader .btn {
	display: inline-block;
	margin: .5rem .5rem 1rem .5rem;
	clear: both;
	font-family: inherit;
	font-weight: 700;
	font-size: 14px;
	text-decoration: none;
	text-transform: initial;
	border: none;
	border-radius: .2rem;
	outline: none;
	padding: 0 1rem;
	height: 36px;
	line-height: 36px;
	color: #fff;
	transition: all 0.2s ease-in-out;
	box-sizing: border-box;
	background: #454cad;
	border-color: #454cad;
	cursor: pointer;
}