.all-class {
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 4px; */
}
.all-class > * {
    flex: 23%;
    max-width: 23%;
    /* padding: 0 4px; */
    margin: 1%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .all-class > * {
        flex: 48%;
        max-width: 48%;
        margin: 1%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .all-class > * {
        flex: 100%;
        max-width: 100%;
    }
}