.class-work-info {
    width: 60%;
    margin: 0 auto;
    padding: 25px;
    border: 0.0625rem solid #dadce0;
    border-radius: 0.5rem;
}
.class-work-info p {
    color: #202124;
    padding-bottom: 0.5rem;
    font-family: 'Noto Sans JP',Roboto,Arial,sans-serif;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.75rem;
    color: #3c4043;
}
.class-work-info-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.class-work-info-list-item {
    margin: 10px 0;
    font-size: 20px;
}